@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

*{
    font-family: 'Akaya Telivigala', cursive;}

html{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;

}

